---
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=http://vegfest.org" />
    <meta charset="utf-8">
    <title>Thank you!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>Nothing here</h1>
      <h2>We are redirecting you in 3... 2... 1...</h2>
      <p>
	<em>If this doesn't redirect automatically, <a href="http://{{page.redirectURL}}">click here to go to {{page.redirectURL}}</a>.</em>
      </p>

    </div>

    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

  </body>
</html>
